<!-- footer.ejs -->
    <!--==============================footer=================================-->
    <footer>
        <div class="main-footer">
          <div class="container_24">
            <div class="grid_17">
              <div class="icons">
                <span class="facebook">Join Us on <a href="#">Facebook<strong></strong></a></span>
                <span class="twitter">Join Us on <a href="#">Twitter<strong></strong></a></span>
              </div>
            </div>
            <div class="grid_7">
              <p>Cooking &copy; 2012 | <a href="index-5.html">Privacy policy</a><br><!--{%FOOTER_LINK} --></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  </html>
  