<!-- home.ejs -->
<div id="simple_gallery">
    <!-- slider -->
    <div class="gallery_bg">
      <div class="simple_gallery">
        <ul class="items">
          <!-- Các phần tử slide -->
        </ul>
      </div>
    </div>
    <!-- slider end -->
    <div class="pag">
      <div class="img-pags">
        <ul>
          <!-- Các ảnh thu nhỏ của slide -->
        </ul>
      </div>
      <a href="#" class="btn prev " data-type="prevPage"><span></span></a>
      <a href="#" class="btn next" data-type="nextPage"><span></span></a>
    </div>
  </div>
  
  <!-- Content chính của trang -->
  <section id="content">
    <div class="container_24">
      <div class="wrapper bg-wrapper">
        <div class="grid_18 bg-grid top-2">
          <div class="bg-grid">
            <div class="grid_6 marg-left-0">
              <img src="images/page-img.png" alt="" class="image top">
            </div>
            <div class="grid_11 suffix_1 marg-right-0">
              <h2 class="txt-al padd">We Publish Only The Best Popular Recipes For You!</h2>
              <strong>Asdera lauda ntiusp astaseauae abersase mertyasera</strong>
              <p class="bot">Lorem ipsum...</p>
              <a href="#" class="color hov bold">Read More About Us</a>
            </div>
            <div class="clear"></div>
          </div>
          <h2 class="padd-1">Best Of The Week Recipes Collection</h2>
          <!-- Các phần tử recipe -->
        </div>
        <div class="grid_6">
          <div class="box">
            <span class="title-box left">Fresh Recipes</span>
            <ul class="list bg-list top-3">
              <!-- Các liên kết -->
            </ul>
          </div>
          <div class="new">
            <div><span>Video <strong>Recipes</strong></span></div>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  