<head>
    <link rel="stylesheet" href="../../../public/css/dish.css">

</head>
<div class="container">
    <h1>Thêm món ăn mới</h1>
    <form action="/dish/create" method="POST">
        <label>Thumbnail:</label>
        <input type="text" name="thumbnail" required>

        <label>Title:</label>
        <input type="text" name="title" required>

        <label>Description:</label>
        <textarea name="description" required></textarea>

        <button type="submit">Thêm</button>
    </form>
</div>