<h1>Thêm món ăn mới</h1>
<form action="/dishes/store" method="POST">
    <label>Thumbnail:</label>
    <input type="text" name="thumbnail">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Description:</label>
    <textarea name="description"></textarea>
    <button type="submit">Thêm</button>
</form>