<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="icon" href="../img/quick_snack.png" type="../img/quick_snack.png">
    <style>
        header {
            background-color: #00aaa3d;
        }
    </style>
</head>
<body>
    <header>
        
    </header>
</body>
</html>